{% extends 'base.html' %}

{% block content %}
    {{ super() }}
<h2>ავტორიზაცია</h2>



<form method="post" style="width:30%; margin-left:50px;">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="username" >
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control" id="pass">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}